
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-5">
            <div class="image">
                <img src="https://salestack.in/admin/api/uploads/Product//1660628686Qz8l94Ic.png" class="img-fluid">
            </div>
        </div>
        <div class="col-md-6">
            <div class="card">
                <h5>Update Contact</h5>
                <div class="row">
                  <form>
                   <div class="form-group mb-1">
                    <label for="example">First Name</label>
                    <input type="text" [(ngModel)]="contactdata.firstname" name="firstname" class="form-control"  placeholder="Enter First Name">
                   </div>
                   <div class="form-group mb-1">
                    <label for="example">Last Name</label>
                    <input type="text" [(ngModel)]="contactdata.lastname" name="lastname" class="form-control"  placeholder="Enter Last Name">
                   </div>
                   <div class="form-group mb-1">
                    <label for="example">Phone number</label>
                    <input type="number" [(ngModel)]="contactdata.phonenumber" name="phonenumber" class="form-control"  placeholder="Enter Phone number">
                   </div>
                   <div class="form-group mb-1">
                    <label for="example">City</label>
                    <input type="text" [(ngModel)]="contactdata.city" name="city" class="form-control"  placeholder="Enter city">
                   </div>
                   <div class="text-center mt-2">
                    <button type="submit" (click)="update()" class="btn btn-primary">Update</button>&nbsp;
                    <button type="submit" routerLink="/contactlist" class="btn btn-success">Back</button>
                  </div>
                   
                  </form>  
                </div>
            </div>
        </div>
   